
$first: #F5F5F7;
$second:#222222;
$third:#6C6C6C;
// $fourth:#AADEA8;

$primary:$first;
$secondary:$second;
$warning:$third;
// $success:$fourth;



// $container-padding-x: 0;







@import "../node_modules/bootstrap/scss/bootstrap.scss"



