
.blog{
    height: fit-content;
    width: 100%;

    .btn1{
        font-size: 16px;
        line-height: 16px;
        
    }

    .box{
        padding: 84px 0 123px 0;

        @media screen and (max-width:800px) {
            padding: 34px 0 53px 0
            }
    }

    .card{
        height: 655px !important;

        
    }

        .card-title {
            font-weight: 600;
            line-height: 33.6px;

            @media screen and (max-width:1400px) {
                line-height: 24.6px !important;
                font-size: 22px !important;
            }
    
            @media screen and (max-width:1200px) {
                font-size: 20px !important;
            }

    
            
        }

    img{
        object-fit: cover;
        height: 45%;
        width: 100%;
    }
}