@use "../custom" as *;
@import "../components/mixins";
@import "../components/buttons";



.intro{
    height: 768px;
    width: 100%;
    background-color: $primary;

    @media screen and (max-width:1024px) {
        height: 600px;
        
    }

     @media screen and (max-width:800px) {
        height: fit-content;
        padding: 60px 0;
        
    }

    img{
        object-fit: contain;
    }


    .img1{    
        width: 90%;   

        @media screen and (max-width:800px) {
            width: 100%;
            margin-bottom: 50px;
        }
    }  

    .head1{
        font-size: 56px;
        color: white;

        @media screen and (max-width:1024px) {
                font-size: 40px;
                // line-height: 37px;
        
            }
    }

    .img2{
        position: absolute;
        bottom: 55px;
        left: 0;
        width: 173px;
        height: 180px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .text_side{
        height: fit-content;
        padding-right: 80px;

        @media screen and (max-width:1024px) {
            padding-right: 13px;
        }
    }

}

.companies {
    height: 191px;
    background: $primary;
    color: white;
}