@use '../custom' as *;

.menu{
  
   color: white !important;

   a{
      color: white !important;
   }
   .navbar-collapse{
      margin-right: 160px;
   }

   .right_side{
      width: fit-content;
      height: 100%;
      // background: red;

      .search_input{
         width: 110px;
         height: fit-content;
         display: flex;
         // background: #000;

         input{
            width: 90%;
            height: 70%;
            outline: none;
            border: none;
         }
      }

      .cart{
         width: 80px;
         height: fit-content;
         // background: #000;
      }
      
      button{
         width: 106px;
         height: 50px;
         border-radius: 8px;
         border: none;

         @media screen and (max-width:450px) {
            width: 80px;
            height: 45px;
         }
      }
   }

}