@use '../custom' as *;

.menu {
   color: white !important;
   

   ul li a {
      color: white !important;
   }

   .navbar-collapse {
      margin-right: 160px;
   }

   .search_input {
         input {
            outline: none !important;
            border: none !important;
            text-indent: 1px !important;
         }
      }

      .cart {
         width: 80px;
         height: fit-content;

         // @media screen and (max-width: 343.98px) {
         //       display: none !important;
         //    }
      }

      .nav-buttons  button {
         width: 106px;
         height: 45px;
         border-radius: 8px;
         border: none;

         @media screen and (max-width: 991.98px) {
            width: 80px;
         }

         @media screen and (max-width: 767.98px) {
            width: 55px;
         }
         @media screen and (max-width: 343.98px) {
            width: 50px;
         }
      }

   
   // Hide default Bootstrap dropdown arrow
   #megaDropdown::after {
      display: none !important;
   }

   .dropdown-menu {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      position: relative;

      a{
         color: black !important;
      }
      
      .dropdown-right-overlay {
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         width: 43%; // or whatever width you'd like
         background-color: rgba(128, 128, 128, 0.05); // light gray with opacity
         z-index: 0; // sits behind the dropdown content
         pointer-events: none; // prevent overlay from blocking clicks

         @media (max-width: 991.98px){
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;           
         }
      }
      
     @media (max-width: 991.98px){
      .overlay-wrapper{
         position: relative !important;
      }
   }  
  }
   // Rotate chevron when dropdown is open
  .bi-chevron-down {
     transition: transform 0.3s ease;
  }

    a.show .bi-chevron-down {
    transform: rotate(180deg);
  }

  .hover-bg:hover {
     background-color: rgba(128, 128, 128, 0.128) ;
     transition: 0.2s ease;
  }

  @media (max-width: 991.98px) {
     .navbar-collapse {
        margin-right: 0px !important;
     }
  }
  @media (min-width: 425px) {
     .blog_part{
      width: 189px !important;
      height: 124px !important;
      flex-shrink: 0 !important;
     }
  }
}
