@use "../custom" as *;

.btn1{
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    padding: 13px 25px;
    background:$secondary;
    border: none;
    border-radius: 8px;
    color: white;

    &:hover{
        transform: translate(0, 4px);
    }

    &:not(.bg-transparent):hover {
        background-color: $secondary-600 !important;
        
    }

    &.bg-primary:hover {
         background-color: #374151 !important;
    } 
}

.section_btn{
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    padding: 4px 8px;
    background:white;
    border: none;
    border-radius: 3px;
    color: $primary;
}