@use '../custom' as *;
*{
    transition: 0.2s ease all;
}
.highlight {
    background-color: yellow;
    padding: 2px 4px;
    border-radius: 4px;
    color: red;
}

.img-hover-zoom {
    transition: transform 0.4s ease;
}

.img-hover-zoom:hover {
    transform: scale(1.1);
}

.bounce-hover {
    transition: transform 0.3s ease !important;
}

.bounce-hover:hover {
    transform: translateY(-15px) !important;
}


.about-numbers {
    display: grid;
    gap: 2rem;
    justify-content: start;
    align-items: start;

    // Mobile: column (≤ 480px)
    grid-template-columns: 1fr;

    // Larger than 480px: row
    @media (min-width: 481px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-numbers-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        .heading-xlarge {
            font-size: 2.5rem;
            font-weight: 700;
        }

        .text-color-primary {
            color: var(--bs-primary);
        }
    }
}


.about-values-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem;
    border-radius: 50%;
    background-color: #fff;;
    color: var(--bs-primary);
    font-size: 1.8rem;
}