@use '../custom' as *;
*{
    transition: 0.2s ease all;
}
.highlight {
    background-color: yellow;
    padding: 2px 4px;
    border-radius: 4px;
    color: red;
}

.img-hover-zoom {
    transition: transform 0.4s ease;
}

.img-hover-zoom:hover {
    transform: scale(1.1);
}

.bounce-hover {
    transition: transform 0.4s ease !important;
}

.bounce-hover:hover {
    transform: translateY(-15px) !important;
}


